<h2 id="introduction">Introduction</h2>
<p>Thanks again to everyone who took part! Here is the archive or all our thoughts on the PiratePad, a live webpage that the symposium participants wrote into <strong>live</strong>. I think we had a really good day but really this was just the tip of the iceberg of what we could explore further.</p>
<p>One self criticism was not sure i clearly framed what we were doing at the very beginning. We did not set out to critically analyse what kits where or how artists use them, but really just wanted to make a space with some contexts of work (Gym Jams) for a mix of practitioners to explore some implications of kit culture and how it could affect the documentation of how people work in this area. We saw this as one of the issues in the way we work and in the narratives around our practices.</p>
<p>A bit concerned that we lost this at times and I should have been pushing us back to that a little. I think weirdly the top trumps exercise brilliant as it was <span class="citation">@neilbadielle</span> sort of distracted us from all that and think it needed some more items from technical and engineering cultures perhaps so we will add to that I think.</p>
<p>I should have focused on kit cultures potential as embodiements or better representations of our work that is focussed on participating; either making/thinking/playing and Glenn you described that really well i thought</p>
<h2 id="andrew">Andrew</h2>
<p>Kits as ways to earn income Kits of &quot;ways of working&quot; as well physical materials. What counts as materials in socially engaged practice - these are intangible things, places, context, organisational structures Kits as a kind of artist multiple &quot;kitness&quot; as a principle - making the construction visible, copy-able &quot;kitness&quot; as an aesthetic - wecoming, a sense of inviting people in, not perfect, A directory I publish (www.hannahfestival.com) as a kit. I hadn't thought of it in this way before.</p>
<h3 id="critical-kits-should-be-difficult">Critical Kits Should Be Difficult</h3>
<p>FOR - Andrew (AW) AGAINST Glenn (GB) AW - Difficultness means people have to work hard to learn GB - but limits the audince to those who are confident in their making/thinking skills? AW - It means using critical kits has to be taught, so using them becomes social rather than an isolating, off-the-shelf experience in which people engage with them as consumers rather than makers. GB - does it then become closer to a workshop experience rather than a self-contained entity? Does the artist need to teach or could this be done within a peer group? Kits shouldn't recreate the frustrating trial and error nature of making an artwork. AW - but Laura said her best experiences of workshops using kits was when they didn't work first time and people had to learn to solve problems in order to make them work.</p>
<h2 id="puns">Puns</h2>
<p>moss code</p>
<h3 id="neil">Neil:</h3>
<p>what is and what isn't a kit?</p>
<h4 id="kit-a-collection-of-materials-some-guidance-the-expectation-that-it-will-be-used-to-construct-somthing">KIT: a collection of materials, some guidance, the expectation that it will be used to construct somthing</h4>
<h4 id="kit-expanded-aspen-by-warhol.">KIT: expanded = Aspen by Warhol.</h4>
<p>idea - top trump of kits!</p>
<p>is the rationally ordered universe of the enlightenment a kit?! cf Bacon 1620...</p>
<p>kitification of art - Duchamp &quot;Boite&quot;</p>
<h4 id="question---when-does-the-word-kit-pop-up">QUESTION - when does the word &quot;kit&quot; pop up?</h4>
<p>A-- early 20th century, avant garde systematic processes being shared, but is that kit? --- there is a lineage between modernist painting, its revealing of technique, and kits. + constructivism</p>
<p>The way that surrealist used systems to subvert the overly rational...</p>
<p>cf. Survival kit by Leonora Carrington</p>
<p>Detournement - treating mass media as a kit!</p>
<p>1960s Fluxus were using the term Kit, and instructions eg. Water Yam by George Brecht.. Total art Matchbox :)</p>
<p>Inflatocookbook by Antfarm -- which is contemporary with Anarchist's Cook book https://en.wikipedia.org/wiki/The_Anarchist_Cookbook</p>
<p>NJ: [just this morning I was thinking about Xmas markets as a form of inflatable city.]</p>
<p>My Boyfiend Came Back from War, Olia Lialina 1996 - is there something kit-like about hypertextual works?</p>
<p>2000s Maker culture, participatory art, ... Miniapolis Art on Wheels - library for Max software ... how to guides [what about Isadora then]</p>
<p>It feels like some of this tradition has been derailed, stolen, by 'maker culture', as part of a l</p>
<p>Now there is a weird-kit culture: a contemporary example of this is : http://additivism.org/cookbook also</p>
<h2 id="nathans-questions">Nathan's questions</h2>
<p>Questions 1) to what extent is the awkwardness, not working, barely working part of the critical aesthetic integrity of these works - the way they produce their effect</p>
<ol start="2" style="list-style-type: decimal">
<li>if these kinds of works imagine audiences, and future audiences, future populations are part of their 'material', to role does the 'generosity' - in particular the exercising of generosity by children - have?</li>
</ol>
<p>This project just came up. how/Why To: http://nickbriz.com/</p>
<h2 id="kit-ideas">Kit Ideas</h2>
<ol style="list-style-type: decimal">
<li>A clock that counts up how much time you spend developing the kit, then counts down while you're running workshops, and a</li>
</ol>
<h2 id="nathans-text">Nathan's text</h2>
<pre><code>Form: to what extent is hesitancy or awkwardness playing against &#39;normal&#39; confident behaviour?

    What role does generosity play in agreeing to make a kit


        How does that affect &#39;need&#39; : really artists </code></pre>
<h2 id="top-trumps">Top Trumps</h2>
<p>Showing the breadth of different way ‘kits’ have been interpreted – good way to start discussion about what is a kit? What makes a interesting/good kit?</p>
<p>?</p>
<p>No Critical Kits shouldn't be difficult because then people wouldn't use them.</p>
<p>No they should be complicated to make people think about the meaning of the kit otherwise there is not point.</p>
<p>Surely there's a point if its just to make some stuff. Why do people want to think?</p>
<p>To understand the world better and therefore make changes for the better in their lives.</p>
<p>Maybe but if people want to make changes for the better in their lives shouldn't they just become bankers or politicians rather than making kits?</p>
<p>one small step! we can't all have money and power. They also need to be difficult to seperate the wheat from the chaff - filter out the people that aren't interested.</p>
<p>OK but shouldn't everybody be given a chance to at least have a go? That's a bit fascist saying you're going to separate the wheat from the chaff - you'll be separating good from evil or poor and rich - is it really that straight forward?</p>
<p>Will they really get anything from it if they aren't interetsed though?</p>
<p>They might if its a form of play and they can master stuff quickly</p>
<p>If there isn't level of complexity then it will boring and people will forget it quickly.</p>
<p>Maybe that's OK</p>
<p>Kit Crit Pad 1</p>
<p>Another Critical-Kits Pirate Pad!</p>
<p>Home Pad http://piratepad.net/negc310Wyf</p>
<p>Kit Crit Pad 2: http://piratepad.net/fG1Bwl39dr</p>
<p>CRITICAL KITS SHOULD BE DIFFICULT TO USE</p>
<p>Please provide the definition of 'Critical Kits'. No, I think the definition of &quot;critical&quot; &quot;kits&quot;, could emerge from a debate. What is a kit? - discuss &lt;&lt; This is him!! I liked this: from the other pad. Kits are: &quot;the intersection of parts, instructions and interaction.&quot; What is a critical kit? &lt;&lt; a kit that is difficult to use, perhaps? That would be inaccurate and hypo-critical.Specialist knowledge required and a high barrier to entry - Art for None! But then what distinguishes a &quot;critical kit&quot; from an Ikea flat pack. There is a long history of art problematising interaction - and it's not all (if at all) about elitism. There are other kinds of 'difficult' than specialist knowledge. eg, if the instructions are written in an order that makes the 'product' hard to assemble... making it take longer. To what end? to</p>
<p>Do they really need instructions?</p>
<p>What's the porpoise? The embodiment of a hypo-critical kit.</p>
<p>Kits should be easy to use surely? Isn't that the point?</p>
<p>AMc: Kits should help people engage with the subject of the kit, and so be easy to use. HY: Kits should challenge people to learn more about whatever the kit is about so should be difficult - making the success all the more sweeter. AMc: But if kits are too challenging then you'll lose people's interest before they think too deeply about the matter at hand HY: If kits are too dumb they are meaningless. It's more useful to get a few deeply engaged people using the kits than appeal to a mass general audience. AMc: [There are too many rebuttals I can choose from for that] Only engaging a few people won't make any meaningful change in the world, just put those few people into their own filter bubble HY: What is meaningful change in the world? AMc: Tell me about your mother. HY: Tell me about your mother. AMc: I asked first. HY: I am a human. Don't talk to me like I'm a bot. AMc: True. A bot wouldn't make spelling mistakes ;-) I don't think that a hard to use kit is the only way to engage deeply with people. A good kit would provide routes in for all - that's not the same as being dumb HY: Yes, I concede. Just because you can't use a difficult kit doesn't mean you are stupid. However, I'm instead asking if difficult kits are being sidelined in favour of easy gains with very simple kits that do not engage beyond a few minutes and doesn't add to knowing more about something other than self congratulatory backslap.</p>
<p>they should be difficult to use because people have to think HARD about what they are doing with their lives</p>
<p>They need to be easy to use so that people can engage with them - particularly if they are to be used in isolation from the creator/artists - As otherwise their point might be lost</p>
<p>well, i hear what you are saying, HOWEVER if their use is too obvious then their point will likely be lost. when using critical kits people need to step outside their usual modes of use. maybe this is not difficult for everyone, but this is what should be done.</p>
<p>I have read what you have written BUT I think that there is a difference between a kit being difficult to use in practical sense and a kit that poses critical questions. I think this is a matter of design that can leave a kit open for people to enage with critically.</p>
<p>there is no design without critical design. the rest is shampoo.</p>
<p>oooOOOhhhh</p>
<p>aaaaahHHHH</p>
<p>Well yes but no</p>
<p>I am so FOR</p>
<p>I am still AGAINST</p>
<p>I'm actually against or maybe i'm not. i don't know what difficult means</p>
<p>I agree</p>
<p>sorted #license:MIT</p>
<p>Personal reflections on our Kit Crits</p>
<p>Many kits just have technical information, what can we add to kits to make people think more about process and less about replicating an existing technical model &lt;&lt;&lt; this came up in the main pad, re. Nick Briz's how/to videos</p>
<p>and to what extent does replicating the object mean that you will go through the same thought processes as the original artist</p>
<p>can the documentation represent the original event? Hwa's tiffin tin documents, but also a new process/commentary</p>
<p>If a kit is a contained 'art' object, then how much instruction should be included. if a kit is an object which documents a workshop, then the unpacking of the object can become a smaller re-performance of the original workshop</p>
<p>A kit is a generous, inherently open form of art making.</p>
<p>What is the difference between critical kits, and kits?</p>
<p>we used the mapping exercise to try to define what constitutes a succesful kit... Those that we decided were most successful offered something that was more than an 'edition' type object or instructions for a perfomance e.g a making process or action that added to or extended the original work that it derived from. Those that we felt were less succesful were either too close to being straightforward, anonymously presented 'tools' or, on the otherhand, were too closely tied to the artists' personality and/or the context of taking place in an art gallery.</p>
<p>&quot;Is the main purpose of a kit to allow others to replicate what we do?&quot;</p>
<p>Useful to share the skills as well as the ideas</p>
<p>Producers don't neccesarily know the conditions in which their kits will be used - difficult to know what needs to be explained</p>
<p>Useful discussion around why we are making kits. The opportunities they present to refine ideas and make them more accessible.<br />
Discussion around documentation of work and processes as kits. E.g stuctures of socially engaed practice.</p>
<p>How kits can be useful for enagaging people - in a workshop context particularly family workshops it allows the parents to go through the instructions with their children - participating in a way that they may not if the workshop is lead without instructions.</p>
<p>Discussion about value of kits -when refining a kit to make is easier/more accessible - does this result in the loss of some of the learning / other values that come with problem solving if something doesn't work. What makes a good kit? It it that it is easily made and instructions easily followed to make something that works first time. What are the other values e.g some of the points on the 'top trump' cards. 'Subversiveness', 'Social enagement' etc. How can these be encorporated into physical making kits. What other documentation needs to be included - how can this be presented?</p>
<p>Differences between manuals, kits, toolkits.</p>
<p>I don't think the artist needs to lead people through the same process - can present kit as a form of magic if they like</p>
<p>Neil showed the floating robot, which I didn't realise he was thinking of turning into a kit. Brought up the idea of ethical use of resources ie helium. It's not an intergral part of the 'kit' but should the fact that helium is a finite resource and that by using it to blow up balloons or floating robot can mean one less MRI scan be a talking point?</p>
<p>Chris showed how his neo-GPS navigation divination research manifested as a Tarot Card reading hotline.</p>
<p>What I learned attemping to sell a kit. It's difficult (impossible) to sell them in the gift shop if there are electronic components that do not have QA checks/kitemarks. Also brought up the question of where you sell them (this didn't come up in the discussion - I just thought of it afterwards). But is one of the purposes of creating (tool) kits, other than dessminating knowledge, finiancial? We never talked about using kits to make money, maybe generate income. Could this be a way to ween oneself from funders?</p>
<p>Kit Crit Pad 2</p>
<p>Another Critical-Kits Pirate Pad!</p>
<p>Home Pad http://piratepad.net/negc310Wyf</p>
<p>Kit Crit Pad 2: http://piratepad.net/fG1Bwl39dr</p>
<p>CRITICAL KITS SHOULD BE DIFFICULT TO USE</p>
<p>Kits should be easy to use in order to maximise participation, make them accessible Kits should be difficult in order to increase human to human interactions, less individuality and more collaboration, Is less individualtiy a good thing? individuality is a bad thing, if kits make people solitare, so they need to be difficult in order to improve human interactions, social situations where you need collaboration, So you are saying the the difficult nature would force conversation between facilitator and participant? yes, make them very diffult in a way that we need many, but will this not lead to barriers and people giving up? perhaps, the difficulty would help to create safe spaces for sharing and collaboration, I agree but think this needs to happen in a follow up stage. The intial kit needs to be easy to use to allow for further discussion and collaboration if there is no difficult there is no learning, so is just simple cheap consuming, &quot;cheap&quot;?!!! how dare you, lol ok, good point but I still think if something is too hard it will put people off Perhpas there is a combination of 'easy' to use basic core elements with more difficult elements to add on/mix in ........... expert/novice relationship yes, the mix sounds a good combination, I confess that I cannot be tota</p>
<pre><code> Ross Dalziel
 Some good discussions about sustainability seem to be generated in our group and the tendancy for artists to feel comfortable making and selling things or getting involved in the &#39;infrastructure&#39; of kits. We thought a bit about the value of taking part in kit cultures perhaps over wanting to make a successful business necessarily or take part in the kit/maker &#39;market&#39;

 Some thoughts on the dangers/advantages of the gig economy or microtransactional economies as being the &#39;only option&#39; or an option to independance

 Also became slightly obsessed with Glenn Boulters Wray Castle Board Games

 I was thinking about Andrew&#39;s http://hannahfestival.com/about-hannah-directory/ project as a map or something more than a book...almost like a form of land-art and of course as a board game



  We also talked about the need for work to be ethical.


   #GemmaMayLatham
   -Discussions around immediacy, having good instructions but still allowingctions but still allowing for &quot;quick and dirty&quot; and extended creativity

   - Creating instructions as part of the kit. 

   - Thinking about specific audience in mind how will they use the kit - rather than the just general public.

   - Open Lab Research - that really slick well designed kits put the public off using them. Bringing users in early to help design the kit so it is useful. 

   Getting lost discussing what a kit might be. eventually ntually that it&#39;s the intersection of parts, instructions and interaction.    &lt;&lt; I like this.

   Neil poo head Cham(poo)ion.

   Do kits de-skill? Does the &#39;For Everyone&#39; ethos not demmand enough from peoples creativity, intelligence &amp; skill?   &lt;&lt;&lt; so, should &#39;critical kits&#39; be difficult to use?
   Yes, but difficult how? 


   &lt;&lt;&lt; Not sure how but picks up on &#39;pushing or challenging the generosity&#39; of &#39;participants&#39;/users

   Lots of talk about kits, not so much about &#39;critical&#39;, in general... is there an inherent distinction?
   A critical kit should be questioning, or challenging something or encouraging people to do something in a radically different way. 
   What do I mean by this? those are ambiguous terms
   Challenging what?
   When is something &#39;radicall different&#39;? Easy to get caught up in old functionalist/antifunctionalist binary arguments.

   Critical kits documentation should at the very least address the social &amp; ethical issues that they raise.
   Some projects we talked about happen kind of by accident so is it possible to anticipate what it is we need to document before we do it and how to do this socially and ethically responsibly? Maybe it&#39;s about having a sense check somehow - don&#39;t know what that means though ....

   Interesting discussion around the ehtics of working with Helium, some interesting points.
   - The source &amp; environmental impact of helium should be addressed in the kit
   - The kit could have an environmental aproach, offereing guidance to users to source helium more ethically, describing the environmental impact of its use.
   - Ethical coprporate policies could be useful examples for this
   - Discussion around how this could be a useful way for artworks to address ethical, environmental issues, even if environmental issues are not its primary focus.

   Who are art kits for? We discussed how kits could be made by artists for their future selves, or for a small number of collaborators.

   Discussion around kits e.g. brain computer interfaces that neccesitate highly trained users.

   Discussion around Chris Woods Satallite Tarot,
   The importance the human Tarot reader in this system, 
   The reading of satallites as unpredicatable, petty self interested gods,
   People have had thousands of years to respond to the stars, we&#39;ve only had satallites for 20 years or so, 



   Rachel: Some great discussion about the different kinds of &#39;finish&#39; for kits - should they be really slick or rough and ready to engage people and enable them to appropriate them creatively. 
   Also the struggle this might create when something doesn&#39;t go as you expected - or a kit is used not as we intended. 

   - What happens when we just hand stuff over to others and stop being involved with kits - how do we document that?

   - Photographic documentation of a process / project can be really misleading - we can curate and craft really good stories and presentations that make people think a project has been a success, but then there are really challenging parts that we might hide from a process / project as they&#39;re quite painful / difficult / uncomfortable. Sometimes it takes a while to talk about why we might feel so pants about a particular issue. Finding opportunities to talk through these with
     others can be quite useful for processing what happened. 

     -Who do we get involved with making / designing / testing kits? Experiences of trying out in public can be challenging but also forces decision making in high pressure situations - what&#39;s important / what works / what doesn&#39;t. 

     The idea of &#39;Academic Writing as a Kit&#39;.

     Polina: To kit or not to kit: &gt;&gt;&gt; In a way I&#39;ve found value in &#39;attempting to kit&#39; then backing slowly away... Meant that ive learnt something from the failures, issues and diversions alongside stuff about supply chains</code></pre>
<h2 id="summing-up-notes">Summing Up Notes</h2>
<p>Difference between kit and 'subject' of kit? Kit should be easy but subject difficult? can they be seperated.</p>
<p>'Setting' of a kit affects them</p>
<p>Is 'difficult' necessarily restrict access?</p>
<p>Seperate 'difficult to use' and 'difficult'</p>
<h2 id="should-kits-be-difficult">Should kits be difficult</h2>
<p>Oversimplifying the question 'critical'/ 'in depth' / 'easy' / 'difficult' perhaps but also surpassing it.</p>
<p>Default 'always easy for everyone'</p>
<p>Looking at game culture difficulty is probably one way forward: 'purpose'</p>

